@import "base.scss";

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 170px;
  .chefs {
    display: flex;
    margin-top: 50px;
    max-width: 937px;
    width: 937px;
    margin-bottom: 40px;
    justify-content: space-between;
    &__chef {
      &-container {
        display: flex;
        align-items: flex-end;
        background-color: #ff9900;
        width: 164px;
        height: 175px;
        margin-bottom: 20px;
      }
      &-name {
        text-align: center;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 20px;
        font-family: "Karla";
        line-height: 77%;
        letter-spacing: 0;
      }

      &-position {
        font-size: 14px;
        line-height: 126%;
        color: #555555;
        font-family: "Karla";
        text-align: center;
      }
    }
  }
  &__title {
    font-family: "Karla";
    line-height: 77%;
    font-size: 40px;
    margin-top: 9px;
    font-weight: bold;
    color: #292e36;
  }
  &__sub-title {
    text-align: center;
    width: 56px;
    font-family: "Josefin Sans";
    font-weight: medium;
    font-size: 15px;
    line-height: 77%;
    letter-spacing: 27%;
    border-top: 1px solid #e1b168;
    border-bottom: 1px solid #e1b168;
    color: #292e36;
    padding-top: 7px;
    padding-bottom: 2px;
  }
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.products-description {
  margin-top: 100px;
  margin-bottom: 20px;
  display: flex;
  &__type {
    font-size: 20px;
    font-weight: medium;
    line-height: 77%;
    margin-top: 7px;
  }
  &__text {
    line-height: 146%;
    letter-spacing: 0%;
    font-family: "Josefin Sans";
    font-size: 15px;
    font-weight: regular;
    margin-bottom: 12px;
    margin-top: 7px;
    text-align: center;
  }
  &__see-more {
    color: #ff9900;
    font-family: "Josefin Sans";
    font-size: 15px;
    line-height: 126%;
  }
  &__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff6ea;
    border-radius: 10px;
    width: 241px;
    height: 269px;
    margin-right: 45px;
  }
}
.about-us {
  font-family: "Josefin Sans", "sans-serif";
  margin-top: 120px;
  display: flex;
  justify-content: center;
  max-width: 1000px;
  &__image {
    margin-left: 108px;
  }
  &__text {
    max-width: 599px;
    font-family: "Karla";
    font-size: 20px;
    font-weight: regular;
    line-height: 126%;
    letter-spacing: 0%;
    color: #555555;
    margin-bottom: 33px;
  }
  &__title {
    font-family: "Karla";
    font-size: 40px;
    font-weight: bold;
    line-height: 77%;
    margin-top: 16px;
    margin-bottom: 18px;
  }
  &__sub-title {
    border-top: 1px solid #e1b168;
    border-bottom: 1px solid #e1b168;
    padding-top: 6px;
    padding-bottom: 1px;
    display: flex;
    justify-content: center;
    width: 110px;
    color: #292e36;
    font-size: 15px;
    font-weight: medium;
    line-height: 77%;
    letter-spacing: 27%;
  }
}
