@import "base.scss";

.reservation {
  margin-top: 70px;
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    margin-top: 35px;
    border-radius: 5px;
    width: 201px;
    height: 68px;
    background-color: #ff9900;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    font-family: "Karla";
    border: none;
  }
  form {
    display: grid;
    grid-template-columns: repeat(2, 258px);
    row-gap: 20px;
    column-gap: 30px;
    input {
      width: 258px;
      height: 68px;
      border: 2px solid #c4c4c4;
      border-radius: 5px;
      padding-left: 22px;
      font-size: 22px;
      color: #c4c4c4;
      font-weight: bold;
      &:focus {
        outline: none;
      }
    }
  }
  .reservation-form {
    display: flex;
    margin-top: 40px;
    &__image {
      margin-right: 30px;
    }
  }
  &__text {
    font-size: 20px;
    font-family: "Karla";
    color: #555555;
    margin-top: 13px;
    width: 538px;
    text-align: left;
    margin-bottom: 20px;
    line-height: 126%;
    letter-spacing: 0;
  }
  &__sub-title {
    font-size: 15px;
    width: 147px;
    text-align: center;
    font-weight: medium;
    font-family: "Josefin Sans";
    line-height: 77%;
    letter-spacing: 27%;
    text-transform: uppercase;
    color: #292e36;
    border-top: 1px solid #e1b168;
    border-bottom: 1px solid #e1b168;
    padding-top: 7px;
    padding-bottom: 3px;
  }
  &__title {
    font-size: 40px;
    font-weight: bold;
    font-family: "Karla";
    color: #292e36;
    line-height: 77%;
    margin-top: 12px;
  }
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
