{% load static %}
<section class="reservation-block"
         style="background-image: url('{% static 'home/img/reservation-background.png' %}')">
    <div class="reservation-form-layer"></div>
    <div class="reservation-form">
        <form method="GET">
            <p class="reservation-form-sub-title">RESERVATION</p>
            <p class="reservation-form-title">Book your table now</p>
            <div class="name-email">
                {{ form.name }}
                {{ form.email }}
            </div>
            <div class="person-timing-date">
                {{ form.person }}
                {{ form.timing }}
                {{ form.date }}
            </div>
            <button class="book-table-button" type="submit">Book a Table</button>
        </form>
    </div>
</section>
