{% load static %}
<div class="restaurant-story">
    <img class="restaurant-story-image"
         src="{% static 'home/img/story-photo.jpg' %}"
         alt="">
    <div class="restaurant-story-info">
        <p class="restaurant-story-title">The Story</p>
        <p class="restaurant-story-text">
            Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content gfshere', makinlook like readable English. Many desktop publishing packages.
        </p>
        <div class="restraunt-story-dates">
            <div class="restraunt-story-dates-start">
                <p>1996</p>
                <p>Lorem Ipsum is that it has a more-or-less normal distribution</p>
            </div>
            <div class="restraunt-story-dates-current">
                <p>2021</p>
                <p>Lorem Ipsum is that it has a more-or-less normal Content content</p>
            </div>
        </div>
    </div>
</div>
