{% extends "home/base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'home/css/contact-us.css' %}">
{% endblock styles %}
{% block content %}
    <section class="contact-us-form-container">
        {% if form.errors %}
            <div class="form-errors">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <p class="contact-us__sub-title">CONTACT US</p>
        <p class="contact-us__title">Send Valuable Feedback To Us</p>
        <form class="contact-us__form" method="POST">
            {% csrf_token %}
            <div>
                {{ form.name }}
                {{ form.email }}
            </div>
            <div>
                {{ form.subject }}
                {{ form.phone }}
            </div>
            {{ form.message }}
            <div class="contact-us__button">
                <button style="cursor: pointer;" type="submit">Send</button>
            </div>
        </form>
    </section>
{% endblock content %}
